
:root {

--primary-night: hsla(19, 43%, 13%, 1);
--primary-dark: hsla(20, 44%, 22%, 1);
--primary-medium: hsla(18, 37%, 35%, 1);
--primary-pale: hsla(16, 20%, 40%, 1);
--primary-light: hsla(19, 25%, 70%, 1);
--primary-sunrise: hsla(23, 36%, 80%, 1);
--accent: hsla(9, 85%, 66%, 1);
--gray: hsla(16, 11%, 57%, 1);

--blackish: hsl(233.3, 10.6%, 16.7%);

}

* {
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
  margin: 0;
}


body {
  display: grid;
  grid-template: 
     "header header" auto
    "sidebar texts " 1fr
    / 1fr 3fr;
}


body > header {
  grid-area: header;
  border-bottom: 1px solid;
  background: linear-gradient(to bottom right, hsl(216, 31.3%, 93.7%) , hsl(216.3, 41.7%, 79.8%));
  color: hsl(215, 85.7%, 2.7%);
  font-family: sans-serif;
  padding:1em;
  border-bottom: 1px solid var(--blackish);
}

body > main {
  height: 100%;
  overflow-y: scroll;
}

aside {
  grid-area: sidebar;
  padding: 1em;

  height: 100%;
  overflow-y: auto;
}

aside nav li  {
}

aside nav li a {
  line-height: 1.8;
  text-decoration: none;
  color:#333;
}

k-text h2 {
  font-family: sans-serif;
  color: hsl(214.9, 75.4%, 22.4%);
}

.cf {
}

.form {
}

.sentence {
  display: grid;
  margin-bottom: 4em;
  width: calc(3 * 26ch);
}


.transcription {
  font-weight: bold;
  font-family: sans-serif;
  margin:0;
}

.translation {
  font-size: large;
}

.translation:before {
  content: '‘';
}

.translation:after {
  content: '’';
}

.gloss {
  color: red;
}

.gls {
}

.morpheme {
  display: inline-flex;
  flex-direction: column;
}

.morphemes {
  font-size: small;
}

.morphemes span {
  color: #454545;
  font-family: sans-serif;;
}

.sentence .words .word {
  order:1;
}

span {
  line-height: 1.25;
  padding:.2rem;
}
/* .sentence .words .word:nth-of-type(1) .morpheme:nth-of-type(1) span:before {
  content: attr(data-type);
  width:5ch;
  display: inline-block;
  color:gray;
  text-transform: uppercase;
  font-size: xx-small;
  font-family: sans-serif;
  text-align: right
    ;
  margin-right: 4px;
} */

.morpheme > * {
padding:.2em .5em ;}

.msa {
}


.morpheme .pos {
  display: none;
}

.word {
  display: inline-grid;
  margin-right: 1em;
  margin-bottom: 2em;
}

.word > span.orthographic {
  font-size: large;
  font-style: italic;
}

.words {
/*   display: none; */
  margin:1em;
}